{
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.spec.js",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
